.empty-list h2
{
    font-size: 20px;
   margin-left: 43%;
   margin-top: 5%;
   color: #9b9b9b;
}

.empty-list img
{
margin-left: 40%;
width: 15%;
margin-bottom: 5%;
margin-top: -2%;
}


.container-promo
{
    margin-bottom: 50px;
}

.coupon-card {
    background: linear-gradient(135deg, #ff7b00, #fdc693);
    color: #fff;
    text-align: center;
    padding: 20px; /* Reduced padding */
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 250px; /* Changed width */
    height: 200px; /* Changed height */
    display: inline-block;
    margin-right: 0px;
    margin-left: 40px;
    margin-top: 50px;
  }
  
  .coupon-card img {
    width: 250px; /* Adjusted image width */
    border-radius: 8px;
    margin-bottom: 1px; /* Reduced margin */
    margin-top: -10px;
  }
  
  .coupon-card h3 {
    font-size: 16px; /* Reduced font size */
  }
  
  .coupon-card .start {
    font-size: 13px; /* Reduced font size */
    margin-top: 10px;
  }
  
  .coupon-card .end {
    font-size: 13px; /* Reduced font size */
    margin-top: -20px;
  }
  
  .coupon-row {
    display: flex;
    align-items: center;
    margin-left:25px; /* Reduced margin */
    width: fit-content;
  }
  
  .cpnCode {
    border: 1px dashed #fff;
    padding: 2px 2px; /* Reduced padding */
    border-right: 0;
  }
  
  .cpnBtn {
    border: 1px solid #fff;
    background: #fff;
    padding: 2px 2px; /* Reduced padding */
    color: #47413c;
    cursor: pointer;
  }
  
  .cpnBtn:hover {
    border: 1px solid #47413c;
    background: #47413c;
    padding: 2px 2px; /* Reduced padding */
    color: #ffffff;
    cursor: pointer;
  }
  
  .circle1,
  .circle2 {
    background: #fbfffc;
    width: 30px; /* Reduced size */
    height: 30px; /* Reduced size */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .circle1 {
    left: -15px; /* Adjusted position */
  }
  
  .circle2 {
    right: -15px; /* Adjusted position */
  }

  .swal-button {
    background-color: #F28123 !important; /* Orange color */
    color: #fff !important; /* White text color */
    border: none !important; /* No border */
    text-align: center; /* Center text alignment */
    margin: auto; /* Center horizontally */
    display: block; /* Ensure it's displayed as a block element */
    
    border-radius: 10px; /* Add some border radius */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Add cursor pointer */
}

/* Custom hover styles for the Confirm button */
.swal-button:hover {
    background-color: #ef8a2ba3 !important; /* Lighter shade of orange */
  }

  /* Custom styles for the Cancel button */
.swal-button--cancel {
    background-color: #aba8a8 !important; /* Gray color */
    color: #fff !important; /* White text color */
    border: none !important; /* No border */
  }
    /* Custom styles for the Cancel button */
.swal-button--cancel:hover {
    background-color: #aba8a8 !important; /* Gray color */
    color: #fff !important; /* White text color */
    border: none !important; /* No border */
  }
  
  /* Custom styles for the Confirm button */
  .swal-button--confirm {
    background-color: #F28123 !important; /* Orange color */
    color: #fff !important; /* White text color */
    border: none !important; /* No border */
  }
  
  /* Custom hover styles for the Confirm button */
  .swal-button--confirm:hover {
    background-color: #ef8a2ba3 !important; /* Lighter shade of orange */
  }

  @media only screen and (max-width: 767px) {
    .empty-list h2
{
    font-size: 20px;
   margin-left: 40%;
   margin-top: 5%;
   color: #9b9b9b;
}

.empty-list img
{
margin-left: 42.5%;
width: 20%;
margin-bottom: 5%;
margin-top: -2%;
}

  }